.about-me {
  .aboutContainer {
    @media (max-width: 767px) {
      line-height: 1.3;
      font-size: 1rem;
    }
    p {
      line-height: 1.5;
      &:not(:last-child) {
        margin-bottom: 30px;
      }

      @media (max-width: 500px) {
        text-align: justify;
      }

      span {
        color: var(--mat-sys-primary);
      }
    }
  }
}
