<section class="works-section">
  <div class="sectionHead">
    <span>TAKE A LOOK AT MY</span>
    <h2>WORK EXPERIENCE</h2>
  </div>

  <mat-card appearance="outlined" class="worksContainer sectionContainer">
    <article class="work-box">
      <div class="work-describe-container">
        <div class="work-company">Softrefine Technology</div>
        <div class="work-duration">Apr 2019 - Present</div>
        <ul>
          <li>
            Built web pages that are more user-interactive using librarie like Angular Material,
            ngx-bootstrap, PrimeNG etc.
          </li>
          <li>
            Created a shared library using Typescript and Angular which can be used on multiple
            projects.
          </li>
          <li>Created web applications using Angular PWA & Angular Server Side rendering(SSR).</li>
          <li>
            Involved in designing the user experience interface UI/UX strategy, UI requirements,
            converting findings into UI designs.
          </li>
        </ul>
      </div>
    </article>

    <mat-divider />

    <article class="work-box">
      <div class="work-describe-container">
        <div class="work-company">iCorethink Technologies</div>
        <div class="work-duration">Nov 2018 - March 2019</div>
        <ul>
          <li>Created Admin panel with authentication using Angular component based structure.</li>
          <li>Implemented page designs in standard-complaint dynamic Javascript, HTML and SCSS.</li>
          <li>
            Implemented client side validations in registration forms, login and logout forms using
            Angular.
          </li>
        </ul>
      </div>
    </article>

    <hr />

    <article class="work-box">
      <div class="work-describe-container">
        <div class="work-company">WebAgilent</div>
        <div class="work-duration">Jan 2018 - Oct 2018</div>
        <ul>
          <li>Created cross browser HTML and CSS designs.</li>
          <li>Develop HTML designs templtes that supported responsive devices.</li>
          <li>
            Worked on creating a CRUD application with Javascript, PHP as backend & MYSQL database.
          </li>
        </ul>
      </div>
    </article>
  </mat-card>
</section>
