<section class="worksSection">
  <div class="sectionHead">
    <span>TAKE A LOOK AT</span>
    <h2>PROJECTS <sub>that i worked on</sub></h2>
  </div>

  <mat-card appearance="outlined" class="worksContainer sectionContainer">
    <article class="work-box">
      <div class="work-image-container">
        <img src="/images/quiz.webp" alt="Blu AI" />
      </div>
      <div class="work-describe-container">
        <div>QuizAcademy</div>
        <ul>
          <li>
            This is the simple and safe learning software from Germany. With QuizAcademy, you as a
            teacher can create your own quizzes, exams and surveys, make them available to your
            learners and analyze the results
          </li>
          <li>
            It's a multilingual site uses Angular Material & NGRX to manage different environment
            for teacher, students etc. It consists of end-to-end test cases created using
            Protractor, Jasmine & Karma that perform tests on the whole application as a way how
            users interact with it.
          </li>
        </ul>
        <div class="work-links">
          <a
            href="https://school.quizacademy.io/"
            class="liveLink"
            target="_blank"
            rel="noopener noreferrer"
            >Live</a
          >
        </div>
      </div>
    </article>
    <mat-divider />
    <article class="work-box">
      <div class="work-image-container">
        <img src="/images/blu-logo.png" alt="Blu AI" />
      </div>
      <div class="work-describe-container">
        <div>Blu Loyalty</div>
        <ul>
          <li>
            blu AI™ offers end-to-end customer loyalty and customer engagement ready programs to
            virtually any type of business.
          </li>
          <li>
            Worked on several blu AI's partners websites which uses Angular material components,
            that run and manage a loyalty program such as the complete management of a reward
            catalog for merchandise items and travel services.
          </li>
        </ul>
        <div class="work-links">
          <a
            href="https://bluloyalty.com/"
            class="liveLink"
            target="_blank"
            rel="noopener noreferrer"
            >Live</a
          >
        </div>
      </div>
    </article>
    <mat-divider />
    <article class="work-box">
      <div class="work-image-container">
        <img src="/images/deporti.png" alt="Blu AI" />
      </div>
      <div class="work-describe-container">
        <div>Deportevalenciano</div>
        <ul>
          <li>
            A valencian sports news website that provides information about latest Valencian sports
            news, rumors of the Valencian soccer teams and signings of Valencia, Villarreal, Levante
            and the Valencian teams.
          </li>
          <li>
            To reduce website load time and improve google pageinsight score, It was created with
            Angular Serverside Rendering(SSR) implementation with help of Angular Universal.
          </li>
        </ul>
        <div class="work-links">
          <a
            href="https://www.deportevalenciano.com/"
            class="liveLink"
            target="_blank"
            rel="noopener noreferrer"
            >Live</a
          >
        </div>
      </div>
    </article>
  </mat-card>
</section>
