<section class="worksSection">
  <div class="sectionHead">
    <span>TAKE A LOOK AT FEW OF MY MAJOR</span>
    <h2>PROJECTS <sub>that i worked on</sub></h2>
  </div>

  <mat-card appearance="outlined" class="worksContainer sectionContainer">
    <article class="work-box">
      <!-- <div class="work-image-container">
        <img src="images/quiz.webp" alt="Blu AI" />
      </div> -->
      <div class="work-describe-container">
        <div class="title">Quiz App</div>
        <div class="info">
          A multilingual, secure learning software enabling teachers to create/manage quizzes,
          exams, and flashcards, while students engage in interactive learning sessions with
          real-time tracking.
        </div>
        <div class="details">
          <div class="detail-item">Contribution:</div>
          <ul>
            <li>Built role-based dashboards and state management with Angular + NgRx.</li>
            <li>Integrated WebSocket for synchronized exam timers.</li>
            <li>Implemented ChatGPT-based evaluation for subjective answers.</li>
            <li>Developed flashcards module for interactive learning.</li>
            <li>Created E2E tests with Cypress, Jasmine, Karma, and Protractor.</li>
          </ul>
        </div>
        <div class="details">
          <div class="detail-item">
            <span>Tech Stack:</span>
            <div class="tech-stack">
              Angular, Angular Material, NgRx, Cypress, ChatGPT API, WebSockets
            </div>
          </div>
        </div>
        <!-- <div class="work-links">
          <a
            href="https://school.quizacademy.io/"
            class="liveLink"
            target="_blank"
            rel="noopener noreferrer"
            >Live</a
          >
        </div> -->
      </div>
    </article>
    <mat-divider />
    <article class="work-box">
      <!-- <div class="work-image-container">
        <img src="images/blu-logo.png" alt="Blu AI" />
      </div> -->
      <div class="work-describe-container">
        <div class="title">Water Distribution System</div>
        <div class="info">
          A geospatial monitoring platform for visualizing and analyzing water networks, including
          sensors, pipes, pumps, and valves, directly on an interactive map interface.
        </div>
        <div class="details">
          <div class="detail-item">Contribution:</div>
          <ul>
            <li>
              Developed map-based visualization of water infrastructure using MapboxJS and KendoUI.
            </li>
            <li>
              Implemented real-time monitoring of pressure and flow in pipes with sensor
              integration.
            </li>
            <li>
              Built interactive dashboards for users to analyze network performance and detect
              potential issues.
            </li>
            <li>
              Designed workflows to simulate and run analyses on water distribution networks,
              supporting predictive maintenance.
            </li>
            <li>
              Architected the application using Nx Angular Monorepo for shared libraries, improved
              modularity, and better scalability.
            </li>
          </ul>
        </div>
        <div class="details">
          <div class="detail-item">
            <span>Tech Stack:</span>
            <div class="tech-stack">Angular, Nx Monorepo, KendoUI, MapboxJS</div>
          </div>
          <div class="detail-item">
            <span>Architecture:</span>
            <div class="tech-stack">Monorepo with shared libraries (Nx)</div>
          </div>
        </div>
      </div>
    </article>
    <mat-divider />
    <article class="work-box">
      <!-- <div class="work-image-container">
        <img src="images/deporti.png" alt="Blu AI" />
      </div> -->
      <div class="work-describe-container">
        <div class="title">Sport News Portal</div>
        <div class="info">
          A sports news site that provides information about latest sports news, rumors of the
          soccer teams and signings of Valencia, Villarreal, Levante and the Valencian teams. To
          reduce website load time and improve google page insight score, It was created with
          Angular Server Side Rendering(SSR) implementation with help of Angular Universal.
        </div>
        <div class="details">
          <div class="detail-item">Contribution:</div>
          <ul>
            <li>Implemented Angular Universal SSR for improved performance and SEO.</li>
            <li>Optimized Core Web components and improve Page insight score.</li>
            <li>Built reusable Angular components and caching for real-time news updates.</li>
            <li>Lazy loaded assets to increase site load speed.</li>
          </ul>
        </div>
        <div class="details">
          <div class="detail-item">
            <span>Tech Stack:</span>
            <div class="tech-stack">Angular Server Side Rendering (SSR), Bootstrap, Nodejs</div>
          </div>
        </div>
        <!-- <div class="work-links">
          <a
            href="https://www.deportevalenciano.com/"
            class="liveLink"
            target="_blank"
            rel="noopener noreferrer"
            >Live</a
          >
        </div> -->
      </div>
    </article>
  </mat-card>
</section>
