h2 {
  sub {
    vertical-align: sub;
    line-height: 1;
    font-size: 15px;
    font-size: 10px;
    text-transform: uppercase;
  }
}

.work-box {
  display: flex;
  padding: 40px 0;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }

  @media (max-width: 767px) {
    display: block;
    padding: 20px 0 0 0;
  }

  .work-image-container {
    flex: 0 0 300px;
    border-radius: 10px;
    height: auto;
    border-radius: 10px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;

    @media (max-width: 767px) {
      max-width: 300px;
      margin: 0 auto;
    }

    img {
      width: 100%;
      padding: 25px;
    }
  }

  .work-describe-container {
    flex: 0 1 calc(100% - 300px);
    margin-left: 25px;

    @media (max-width: 767px) {
      margin-left: 0;
      margin-top: 20px;
      padding: 20px;
    }

    ul {
      list-style: disc;
      font-size: 14px;
      padding-left: 18px;
      line-height: 1.3;

      margin-top: 20px;

      li:not(:first-child) {
        margin-top: 10px;
      }
    }

    p {
      font-size: 0.9rem;
      margin-top: 20px;
    }

    .work-links {
      margin-top: 25px;

      a {
        font-size: 1.1rem;
        margin-right: 20px;
        color: var(--color);
        display: inline-block;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
