<section class="worksSection">
  <div class="sectionHead">
    <span>TAKE A LOOK AT FEW OF MY MAJOR</span>
    <h2>PROJECTS <sub>that i worked on</sub></h2>
  </div>

  <mat-card appearance="outlined" class="worksContainer sectionContainer">
    @for (project of projects; track project.title; let last = $last) {
    <article class="work-box">
      <div class="work-describe-container">
        <div class="title">{{ project.title }}</div>
        <div class="info">{{ project.info }}</div>
        <div class="details">
          <div class="detail-item">Contribution:</div>
          <ul>
            @for (contribution of project.contributions; track contribution) {
            <li>{{ contribution }}</li>
            }
          </ul>
        </div>
        <div class="details">
          <div class="detail-item">
            <span>Tech Stack:</span>
            <div class="tech-stack">{{ project.techStack }}</div>
          </div>
          @if (project.architecture) {
          <div class="detail-item">
            <span>Architecture:</span>
            <div class="tech-stack">{{ project.architecture }}</div>
          </div>
          }
        </div>
      </div>
    </article>
    @if (!last) {
    <mat-divider />
    } }
  </mat-card>
</section>
