<section class="info">
  <div class="heroImageContainer">
    <img ngSrc="/images/avatar.png" width="350" height="350" priority alt="Jay Gajjar" />
  </div>
  <div class="heroDescription">
    <p class="greeting">HI THERE! I'M</p>
    <h1><span class="highlight-text">JAY</span> GAJJAR</h1>
    <p class="smallBio">
      A <span class="highlight-text">Front-End Web Developer</span> very enthusiastic about creating
      interactive applications and experiences on the web.
    </p>
    <div class="socialsResume">
      <a
        class="resumeLink"
        matButton="filled"
        color="primary"
        href="/resume.pdf"
        alt="Jay's resume"
        target="_blank"
        rel="noopener noreferrer"
        >Resume</a
      >
    </div>
  </div>
</section>
